<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.nhm.tn.gov.in/">
                        National Health Mission - TN
                    </a>
                </li>
                <li>
                    <a href="https://stopcorona.tn.gov.in/">
                        StopCorono
                    </a>
                </li>
                <li>
                    <a href="https://www.nhm.tn.gov.in/about-nhm-tn/history-of-nhm">
                        NHM Histoty
                    </a>
                </li>
              <!--  <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>-->
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, NHM TN Initiative  
            <a href="https://www.nhm.tn.gov.in/" target="_blank"></a>
        </div>
    </div>
</footer>
