<div class="main-content">
  <div class="container-fluid"></div>
  <div class="form-group">
    <!-- Select Bed module-->
    <div class="input-group no-border">
      <h5>Select bed</h5>
      <div class="form-check">
        &nbsp;
        <label class="form-check-label">
          <input
            class="btn btn-info"
            type="checkbox"
            value="all"
            checked="True"
          />All
        </label>
        <label class="form-check-label">
          <input class="btn btn-info" type="checkbox" value="cb" />Covid Beds
        </label>
        &nbsp;
        <label class="form-check-label">
          <input class="btn btn-info" type="checkbox" value="os" />Oxygen
          Supported
        </label>
        &nbsp;
        <label class="form-check-label">
          <input class="btn btn-info" type="checkbox" value="nos" />Non-Oxygen
          Supported
        </label>
        &nbsp;
        <label class="form-check-label">
          <input class="btn btn-info" type="checkbox" value="icu" />ICU
        </label>
        &nbsp;
        <label class="form-check-label">
          <input class="btn btn-info" type="checkbox" value="vb" />Ventilator
        </label>
      </div>
    </div>

    <!--search module -->
    <div class="input-group no-border width=50%">
      <input
        type="text"
        value=""
        class="form-control"
        placeholder="Enter Hospital Name"
      />
      <button
        mat-raised-button
        type="submit"
        class="btn btn-white btn-round btn-just-icon"
      >
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- <div class="card-header card-header-warning">
                    <h4 class="card-title">Districtwise Status</h4>
                      <p class="card-category">Last Update</p>
                </div>-->
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>S_No</th>
                <th>District</th>
                <th>Institution</th>
                <th>Covid_Beds_Total</th>
                <th>Covid_Beds_Occupied</th>
                <th>Covid_Beds_Free</th>
                <th>Oxygen_Supported_Beds</th>
                <th>Oxygen_Supported_Occupied</th>
                <th>Oxygen_Supported_Free</th>
                <th>Non_Oxygen_Supported_Beds</th>
                <th>Non_Oxygen_Supported_Occupied</th>
                <th>Non_Oxygen_Supported_Free</th>
                <th>Icu_Beds_Total</th>
                <th>Icu_Beds_Occupied</th>
                <th>Icu_Beds_Free</th>
                <th>Ventilator_Beds</th>
                <th>Ventilator_Occupied</th>
                <th>Ventilator_Free</th>
                <th>Last_Updated</th>
                <th>Contact_Number</th>
                <th>Remarks</th>
              </thead>
              <tbody>
                <tr *ngFor="let hospital of Hospitals; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ hospital.district }}</td>
                  <td>{{ hospital.institution }}</td>
                  <td>{{ hospital.covid_beds_total }}</td>
                  <td>{{ hospital.covid_beds_occupied }}</td>
                  <td>{{ hospital.covid_beds_free }}</td>
                  <td>{{ hospital.oxygen_supported_beds }}</td>
                  <td>{{ hospital.oxygen_supported_occupied }}</td>
                  <td>{{ hospital.oxygen_supported_free }}</td>
                  <td>{{ hospital.non_oxygen_supported_beds }}</td>
                  <td>{{ hospital.non_oxygen_supported_occupied }}</td>
                  <td>{{ hospital.non_oxygen_supported_free }}</td>
                  <td>{{ hospital.icu_beds_total }}</td>
                  <td>{{ hospital.icu_beds_occupied }}</td>
                  <td>{{ hospital.icu_beds_free }}</td>
                  <td>{{ hospital.ventilator_beds }}</td>
                  <td>{{ hospital.ventilator_occupied }}</td>
                  <td>{{ hospital.ventilator_free }}</td>
                  <td>{{ hospital.last_updated }}</td>
                  <td>{{ hospital.contact_number }}</td>
                  <td>{{ hospital.remarks }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
