<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon" *ngIf="dataObj.length">
                        <div class="card-icon">
                            <i class="material-icons">bed</i>
                        </div>
                        <p class="card-category">Covid Beds</p>
                        <h4 class="card-title">{{dataObj[0].covid_beds_occupied}}/{{dataObj[0].covid_beds_total}}

                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--<i class="material-icons text-danger">warning</i>-->
                            <a href="javascript:void(0)">Latest Updated : </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon" *ngIf="dataObj.length">
                        <div class="card-icon">
                            <i><img src="./assets/img/oxygen.png" width="50 px" height="50 px"></i>
                        </div>
                        <p class="card-category">Oxygen Supported Beds</p>
                        <h4 class="card-title">{{dataObj[0].oxygen_supported_occupied}}/{{dataObj[0].oxygen_supported_beds}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i></i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon" *ngIf="dataObj.length">
                        <div class="card-icon">
                            <i><img src="./assets/img/nonoxygen.png" width="50 px" height="50px"></i>
                        </div>
                        <p class="card-category">Non-Oxygen Supported</p>
                        <h4 class="card-title">{{dataObj[0].non_oxygen_supported_occupied}}/{{dataObj[0].non_oxygen_supported_beds}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Last updated 4 mins ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon" *ngIf="dataObj.length">
                        <div class="card-icon">
                            <i><img src="./assets/img/ICUBed.png" width="50 px" height="50 px"></i>
                        </div>
                        <p class="card-category">ICU Beds</p>
                        <h4 class="card-title">{{dataObj[0].icu_beds_occupied}}/{{dataObj[0].icu_beds_total}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon" *ngIf="dataObj.length">
                        <div class="card-icon">
                            <i><img src="./assets/img/ventilator.png" width="50 px" height="50 px"></i>
                        </div>
                        <p class="card-category">Ventilator
                        </p>
                        <h4 class="card-title">{{dataObj[0].ventilator_occupied}}/{{dataObj[0].ventilator_beds}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Covid Beds Occupied</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            occupancy.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Total Beds Alloted</h4>
                        <p class="card-category">Total Beds allocated in all city</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Oxygen Supported Bed Occupied</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Districtwise Status</h4>
                         <p class="card-category">Last Update</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>DIstrict</th>
                                <th>Covid Beds</th>
                                <th>Oxygen Supported Beds</th>
                                <th>Non-Oxygen Supported Beds</th>
                                <th>ICU Beds</th>
                                <th>Ventilator</th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ariyalur</td>
                                    <td>25</td>
                                    <td>8</td>
                                    <td>12</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Chengalpattu</td>
                                    <td>25</td>
                                    <td>8</td>
                                    <td>12</td>
                                    <td>2</td>
                                    <td>5</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>