<div class="main-content">
  <div class="container-fluid">

      <div class="row">
          <!-- Select Bed module-->
          <div class="input-group no-border">
              <h5>Select bed</h5>
              <div class="form-check">
                  &nbsp;
                  <label class="form-check-label">
                      <input class="btn btn-info" type="checkbox" value="all" checked='True'>All

                  </label>
                  <label class="form-check-label">
                      <input class="btn btn-info" type="checkbox" value="cb">Covid Beds
                  </label>
                  &nbsp;
                  <label class="form-check-label">
                      <input class="btn btn-info" type="checkbox" value="os">Oxygen Supported
                  </label>
                  &nbsp;
                  <label class="form-check-label">
                      <input class="btn btn-info" type="checkbox" value="nos">Non-Oxygen Supported
                  </label>
                  &nbsp;
                  <label class="form-check-label">
                      <input class="btn btn-info" type="checkbox" value="icu">ICU

                  </label>
                  &nbsp;
                  <label class="form-check-label">
                      <input class="btn btn-info" type="checkbox" value="vb">Ventilator

                  </label>
              </div>

          </div>

          <!--search module -->
          <div class="input-group no-border width=50%">
              <input type="text" value="" class="form-control" placeholder="Enter District Name">
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
              </button>
          </div>

          <!-- COVID BEDS -->
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Covid Beds</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>S_No</th>
                                  <th>District</th>
                                  <th>Institution</th>
                                  <th>Total_Beds</th>
                                  <th> Total_Occupied</th>
                                  <th>Total_Free</th>
                                  <th>Last_Updated</th>
                                  <th>Contact_Number</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>Ariyalur</td>
                                      <td>A.S Hospital</td>
                                      <td>25</td>
                                      <td>15</td>
                                      <td>10</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>0</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Chengalpattu</td>
                                      <td>Chennai Emergency care Centre Pammal</td>
                                      <td>15</td>
                                      <td>15</td>
                                      <td>0</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>7358244662</td>
                                  </tr>



                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <!-- OXYGEN SUPPORTED BEDS-->
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Oxygen Supported Beds</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>S_No</th>
                                  <th>District</th>
                                  <th>Institution</th>
                                  <th>Total_Beds</th>
                                  <th> Total_Occupied</th>
                                  <th>Total_Free</th>
                                  <th>Last_Updated</th>
                                  <th>Contact_Number</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>Ariyalur</td>
                                      <td>A.S Hospital</td>
                                      <td>8</td>
                                      <td>6</td>
                                      <td>2</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>0</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Chengalpattu</td>
                                      <td>Chennai Emergency care Centre Pammal</td>
                                      <td>11</td>
                                      <td>11</td>
                                      <td>0</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>7358244662</td>

                                  </tr>


                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <!--Non-OXYGEN SUPPORTED BEDS-->
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Non-Oxygen Supported Beds</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>S_No</th>
                                  <th>District</th>
                                  <th>Institution</th>
                                  <th>Total_Beds</th>
                                  <th>Total_Occupied</th>
                                  <th>Total_Free</th>
                                  <th>Last_Updated</th>
                                  <th>Contact_Number</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>Ariyalur</td>
                                      <td>A.S Hospital</td>
                                      <td>12</td>
                                      <td>9</td>
                                      <td>3</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>0</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Chengalpattu</td>
                                      <td>Chennai Emergency care Centre Pammal</td>
                                      <td>4</td>
                                      <td>4</td>
                                      <td>0</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>7358244662</td>

                                  </tr>


                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <!--ICU BEDS-->
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">ICU Beds</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>S_No</th>
                                  <th>District</th>
                                  <th>Institution</th>
                                  <th>Total_Beds</th>
                                  <th> Total_Occupied</th>
                                  <th>Total_Free</th>
                                  <th>Last_Updated</th>
                                  <th>Contact_Number</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>Ariyalur</td>
                                      <td>A.S Hospital</td>
                                      <td>5</td>
                                      <td>0</td>
                                      <td>5</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>0</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Chengalpattu</td>
                                      <td>Chennai Emergency care Centre Pammal</td>
                                      <td>0</td>
                                      <td>0</td>
                                      <td>0</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>7358244662</td>

                                  </tr>


                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <!--ICU BEDS-->
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Ventilator</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>S_No</th>
                                  <th>District</th>
                                  <th>Institution</th>
                                  <th>Total_Beds</th>
                                  <th> Total_Occupied</th>
                                  <th>Total_Free</th>
                                  <th>Last_Updated</th>
                                  <th>Contact_Number</th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>Ariyalur</td>
                                      <td>A.S Hospital</td>
                                      <td>2</td>
                                      <td>0</td>
                                      <td>2</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>0</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Chengalpattu</td>
                                      <td>Chennai Emergency care Centre Pammal</td>
                                      <td>0</td>
                                      <td>0</td>
                                      <td>0</td>
                                      <td>5/1/2021 10:50</td>
                                      <td>7358244662</td>

                                  </tr>


                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>


  </div>
</div>